.jqm-content{
    display:none
}
@media ( min-width: 40em ) {
	/* Show the table header rows and set all cells to display: table-cell */
	 td,
	 th,
	 tbody th,
	 tbody td,
	 thead td,
	 thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	td .ui-table-cell-label,
	th .ui-table-cell-label {
		display: none;
	}
}